<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/valco</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/valco/pojo/TipoProducto.hbm.xml"/>
    <mapping resource="com/valco/pojo/CuentasContables.hbm.xml"/>
    <mapping resource="com/valco/pojo/NotasDeVenta.hbm.xml"/>
    <mapping resource="com/valco/pojo/MetodosPago.hbm.xml"/>
    <mapping resource="com/valco/pojo/Tranferencias.hbm.xml"/>
    <mapping resource="com/valco/pojo/UnidadesDeMedida.hbm.xml"/>
    <mapping resource="com/valco/pojo/CuentasXPagar.hbm.xml"/>
    <mapping resource="com/valco/pojo/Movimientos.hbm.xml"/>
    <mapping resource="com/valco/pojo/NotasCredito.hbm.xml"/>
    <mapping resource="com/valco/pojo/Proveedores.hbm.xml"/>
    <mapping resource="com/valco/pojo/ProductosHasProveedores.hbm.xml"/>
    <mapping resource="com/valco/pojo/AbonosCuentasXCobrar.hbm.xml"/>
    <mapping resource="com/valco/pojo/Facturas.hbm.xml"/>
    <mapping resource="com/valco/pojo/Ubicaciones.hbm.xml"/>
    <mapping resource="com/valco/pojo/OrdenesCompra.hbm.xml"/>
    <mapping resource="com/valco/pojo/Telefonos.hbm.xml"/>
    <mapping resource="com/valco/pojo/AbonosCuentasXPagar.hbm.xml"/>
    <mapping resource="com/valco/pojo/Clientes.hbm.xml"/>
    <mapping resource="com/valco/pojo/Productos.hbm.xml"/>
    <mapping resource="com/valco/pojo/Usuarios.hbm.xml"/>
    <mapping resource="com/valco/pojo/CuentasXCobrar.hbm.xml"/>
    <mapping resource="com/valco/pojo/ProductosInventario.hbm.xml"/>
    <mapping resource="com/valco/pojo/Repartidores.hbm.xml"/>
    <mapping resource="com/valco/pojo/ParametrosGenerales.hbm.xml"/>
    <mapping resource="com/valco/pojo/ConceptosFactura.hbm.xml"/>
    <mapping resource="com/valco/pojo/Impuestos.hbm.xml"/>
    <mapping resource="com/valco/pojo/UsuariosGrupos.hbm.xml"/>
    <mapping resource="com/valco/pojo/UsuariosAccesos.hbm.xml"/>
    <mapping resource="com/valco/pojo/Accesos.hbm.xml"/>
    <mapping resource="com/valco/pojo/Grupos.hbm.xml"/>
    <mapping resource="com/valco/pojo/Devoluciones.hbm.xml"/>
    <mapping resource="com/valco/pojo/Familias.hbm.xml"/>
    <mapping resource="com/valco/pojo/Subfamilias.hbm.xml"/>
    <mapping resource="com/valco/pojo/Polizas.hbm.xml"/>
    <mapping resource="com/valco/pojo/Conceptos.hbm.xml"/>
    <mapping resource="com/valco/pojo/OrdenesCompraView.hbm.xml"/>
    <mapping resource="com/valco/pojo/NotasDeVentaView.hbm.xml"/>
    <mapping resource="com/valco/pojo/InventarioGlobal.hbm.xml"/>
    <mapping resource="com/valco/pojo/InventarioDetallado.hbm.xml"/>
    <mapping resource="com/valco/pojo/Pais.hbm.xml"/>
    <mapping resource="com/valco/pojo/Estado.hbm.xml"/>
    <mapping resource="com/valco/pojo/Municipio.hbm.xml"/>
    <mapping resource="com/valco/pojo/Localidad.hbm.xml"/>
    <mapping resource="com/valco/pojo/CodigoPostal.hbm.xml"/>
    <mapping resource="com/valco/pojo/Colonia.hbm.xml"/>
    <mapping resource="com/valco/pojo/CodigoPostalView.hbm.xml"/>
    <mapping resource="com/valco/pojo/UsoCFDI.hbm.xml"/>
    <mapping resource="com/valco/pojo/FormaPago.hbm.xml"/>
    <mapping resource="com/valco/pojo/ProveedoresCodigos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
