<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <context:annotation-config/>
    <context:component-scan base-package="com.valco.dao" />
    
    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="facturasDao" class="com.valco.dao.FacturasDAO" />
    <bean id="clienteDao" class="com.valco.dao.ClienteDAO" />
    <bean id="notadeVentaDao" class="com.valco.dao.NotasVentaDAO" />
    <bean id="proveedorDAO" class="com.valco.dao.ProveedorDAO"/>
    <bean id="productoDao" class="com.valco.dao.ProductoDAO"/>
    <bean id="unidadesdemedidaDao" class="com.valco.dao.UnidadesDeMedidaDAO"/>
    <bean id="tipoproductoDao" class="com.valco.dao.TipoProductoDAO"/>
    <bean id="repartidoresDao" class="com.valco.dao.RepartidoresDAO"/>
    <bean id="ubicacionesDao" class="com.valco.dao.UbicacionesDAO"/>
    <bean id="usuariosDao" class="com.valco.dao.UsuariosDAO"/>
    <bean id="abonoscuentascobrarDAO" class="com.valco.dao.AbonosCuentasXCobrarDAO"/>
    <bean id="abonoscuentaspagarDAO" class="com.valco.dao.AbonosCuentasXPagarDAO"/>
    <bean id="ordenescompraDAO" class="com.valco.dao.OrdenesCompraDAO"/>
    <bean id="transferenciasDAO" class="com.valco.dao.TransferenciasDAO"/>
    <bean id="parametrosGeneralesDAO" class="com.valco.dao.ParametrosGeneralesDAO"/>
    <bean id="ordenesCompraDao" class="com.valco.dao.OrdenesCompraDAO"/>
    <bean id="familiasDAO" class="com.valco.dao.FamiliasDAO"/>
    <bean id="subfamiliasDAO" class="com.valco.dao.SubfamiliasDAO"/>
    <bean id="AuthorizationManager"
          class="com.valco.filters.AuthorizationManagerDefaultImpl"/>
</beans>
